<div class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="display-5 text-warning">News</h1>
  <% if user_signed_in? %>
    <%= link_to "Create a news", new_post_path, class: "btn btn-outline-warning btn-sm" %>
  <% end %>
</div>
<div id="posts">
  <% @posts.each do |post| %>
    <div class="mb-5 border p-3 rounded-4">
      <%= render post %>
      <p>
        <%= link_to "See more", post, class: "link-warning" %>
      </p>
    </div>
  <% end %>
</div>
